<nav id="navbar_tour" class="navbar navbar-default navbar-fixed-top col-md-12">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag('logo.jpg') %>
      </a>
    </div>
    <ul id="navbar_links" class="nav navbar-nav navbar-right">
      <li><a href="/user/<%= session[:user]%>">Dashboard</a></li> |
      <li><a href="/">Home</a></li> |
      <li><a href="/user/destroy">Logout</a></li>
    </ul>
  </div>
</nav>

<div id="tour_container" class="container">

  <div id="tour_top_bar" class="col-xs-12 col-md-12 col-md-offset-1">
    <h1 id="tour_welcome">What do you want to explore today?</h1>
    <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
       <h5 id="tour_notice" class="col-xs-6 col-md-12" style="color:green"><%= x %></h5>
    <% end %>
  </div>

<!-- ====================== Tour Cards ============================ -->
  <div class="tours_offered  col-md-12 col-md-offset-2">
    <% if @all_tours %>
    <% @all_tours.each_slice(3) do |three_row| %>
    <div class="row" id="tile_row">

      <% three_row.each do |x| %>
      <!-- tour_tiles -->
        <div class="card col-md-3" id="tour_cards">

          <div class="card-header" id="card-header">

            <% if x.category == "food_and_drink"%>
              <h6><%= "Food and Drink" %></h6>
            <% elsif x.category == "water_sports" %>
              <h6><%= "Water Sports" %></h6>
            <% elsif x.category == "neighborhood_tours" %>
              <h6><%= "Neighborhood Tours" %></h6>
            <% else %>
              <h6><%= "Famous Landmarks" %></h6>
            <% end %>

          </div>

          <img class="card-img-top" src="<%= x.tour_pic.url (:medium) %>" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title"><%= x.name %></h4>
            <p class="card-text"><%= truncate(x.description, length: 50, separator: " ") %></p>
            <!-- Button trigger modal -->
            <button id="book_btn" type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#myModal-<%= x.id%>">
              Learn More
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal-<%= x.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body" id="modal_body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%= x.name %></h4>
                    <div id="modal_img" class=".col-md-4">
                      <img src="<%= x.tour_pic.url (:medium) %>">
                    </div>
                    <div id="inner_body" class=".col-md-8">
                      <h6>Guide's Name: </h6><a href="/review/new/<%= x.provider.id %>"><%= x.provider.name %></a> (Learn more about <%= x.provider.name %> <a href="/provider/<%=x.provider.id%>">here</a>)
                      <h6>Description: </h6><p><%= x.description %></p>
                      <form action="/reservation" method="post">
                        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                        <input type="hidden" name=reserve[provider] value="<%= x.provider.id %>">
                        <input type="hidden" name=reserve[tour] value="<%= x.id %>">
                        <input type="hidden" name=reserve[name] value="<%= x.provider.name %>">
                        <input placeholder="Propose a tour date" name=reserve[tour_date] class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Nevermind</button>
                    <button type="submit" class="btn btn-success btn-sm">Request Tour</button>
                    </form>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
  </div>

</div>
