<%= render 'layouts/navbar' %>

<div id="login_container" class="col-md-12">
  <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
     <p><b><%= x %></b></p>
  <% end %>
  <div id="user_register" class="col-md-6 col-md-offset-1">
    <h4>Register here!</h4>
     <%= simple_form_for @user, :url => '/user', html: {multipart: true, class: 'form-input'} do |f| %>
        <%= f.input :user_name, placeholder: 'User name', label: false, input_html: { class: 'form-control'} %>
        <%= f.input :first_name, placeholder: 'First name: ', label: false, input_html: { class: 'form-control'} %>
        <%= f.input :city, placeholder: 'Home city and country: ', label: false, input_html: { class: 'form-control'} %>
        <%= f.country_select(:country, {selected: @user.country}, {class: "form-control"}) %>
        <%= f.input :email, placeholder: 'Email: ', label: false, input_html: { class: 'form-control'} %>
        <%= f.input :about, placeholder: 'About me: ', label: false, input_html: { class: 'form-control'} %>
        <%= f.input :password, placeholder: 'Password: ', label: false, input_html: { maxlength: 20 }, input_html: { class: 'form-control'} %>
        <%= f.input :password_confirmation, placeholder: 'Confirm Password: ', label: false, input_html: { class: 'form-control'} %>
        <%= f.file_field :profile_pic, input_html: { class: 'form-control'} %><br>
        <%= f.button :submit, 'Register', class: 'btn btn-primary' %>
     <% end %>
  </div>

  <div id="user_login" class="col-md-4">
    <h4>Already Registered? Login Here!</h4>
    <form class="form-inline" action="/user/user_login" method="post">
      <div class="form-group">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="email" class="form-control input-sm" id="login[email]" name="login[email]" placeholder="Enter email"><br>
        <input type="password" class="form-control input-sm" id="user_password" name="login[password]" placeholder="Password"><br>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>

</div>
