<nav id="navbar_provider" class="navbar navbar-default navbar-fixed-top col-md-12">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class ="glyphicon glyphicon-send" alt="Brand" src="...">
      </a>
    </div>
    <ul id="navbar_links" class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li> |
      <li><a href="/provider/destroy">Logout</a></li>
    </ul>
  </div>
</nav>

<div id="provider_container" class="container col-md-12">

  <div id="side_menu" class="col-xs-6 col-md-4">
    <div id="provider_profile">
      <span id="provider_pic"><%= image_tag @providers.profile_pic.url (:medium) %></span>
      <div id="provider_content">
        <p id="provider_name">Your Provider Name: <b><%= @providers.name %> </b></p>
        <p>Email: <b><%= @providers.email %></b></p>
        <p>About: <b><%= @providers.about %></b></p>
      </div>
    </div>

    <div class="notifications">
      <button class="btn_notification btn btn-warning btn-sm" type="button">
        Tour Requests <span class="badge">(<%= @pending.count %>)</span>
      </button>
      <button class="btn_notification btn btn-success btn-sm" type="button">
        Scheduled Tours <span class="badge">(<%= @scheduled.count %>)</span>
      </button>
    </div>

  </div>


  <div id="new_tours">
     <h4>Offer New Tour</h4>
       <div id="new_tour_form">
         <%= simple_form_for @tour, :url => '/tour', :html => {:multipart => true} do |f| %>
         <%= f.input :provider_id, :as => :hidden, :input_html => { :value => session[:provider] } %>
         <%= f.input :name, label: 'Name: ', :input_html => { id: :form_top } %>
         <%= f.input :description, label: 'Description: ', :input_html => { id: :form_bottom } %>
         <%= f.select :category, [['Food and drink','Food and Drink'],['Neighborhood Tours','Neighborhood Tours'],['Water Sports','Water Sports'],['Landmarks','Landmarks']] %>
         <%= f.file_field :tour_pic %><br>
         <%= f.submit :submit, label_html: { class: 'btn btn-success' } %>
         <% end %>
       </div>
     </div>

     </div>

</div>
