<div class="container">
  <a href="/">Home</a> | <a href="/provider/destroy">Logout</a>
  <h3> Hi <%= @providers.name %>!</h3>

  <div id="profile">
    <span><%= image_tag @providers.profile_pic.url (:small) %></span>
    <p>Provider Name: <b><%= @providers.name %> </b></p>
    <p>Email: <b><%= @providers.email %></b></p>
    <p>About: <b><%= @providers.about %></b></p>
  </div>

  <div id="pending"></div>

  <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
     <p><b><%= x %></b></p>
  <% end %>

<div id="tour_record">
  <h4>Your Active Tours</h4>
  <div id="new_tour">
    <%= simple_form_for @tour, :url => '/tour', :html => {:multipart => true} do |f| %>
       <%= f.input :provider_id, :as => :hidden, :input_html => { :value => session[:provider] } %>
       <%= f.input :name, label: 'Name: ' %>
       <%= f.input :description, label: 'Description: ' %>
       <%= f.select :category, [['Food and drink','food_and_drink'],['Neighborhood Tours','neighborhood_tours'],['Water Sports','water_sports'],['Landmarks','landmarks']] %>
       <%= f.file_field :tour_pic %><br>
       <%= f.submit :submit, label_html: { class: 'btn btn-success' } %>
    <% end %>
  </div>

  <div id="offered_tours">
    <% if @tours %>
    <table class="table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Times purchased</th>
        </tr>
      <% @tours.each do |x| %>
        <tr>
          <td><%= image_tag x.tour_pic.url (:small) %></td>
          <td><%= x.name %></td>
          <td><%= x.description %></td>
          <td><%= x.category %></td>
          <td>(add tours given)</td>
          <td><a href="/tour/destroy/<%= x.id %>">Remove Tour</a>
        </tr>
      <% end %>
    <% end %>
    </table>
  </div>
</div>

  <div id="past_tours">Past Tours</div>
</div>
