<div class="container">
  <a href="/">Home</a> | <a href="/provider/destroy">Logout</a>

  <div id="provider_container">
  <h3 id="welcome"> Hi <%= @providers.name %>!</h3>

  <div id="profile">
    <span><%= image_tag @providers.profile_pic.url (:small) %></span>
    <p>Provider Name: <b><%= @providers.name %> </b></p>
    <p>Email: <b><%= @providers.email %></b></p>
    <p>About: <b><%= @providers.about %></b></p>
  </div>

  <div id="pending">
    <% if @pending %>
    <table id="request">
      <tr>
        <th>Request Details</th>
        <th>Action</th>
      </tr>
      <% @pending.each do |x| %>
        <tr>
          <td><%= x.user.first_name %> from <%= x.user.city %>, <%= x.user.country %> requested your <%= x.tour.name %> tour for <%= x.tour_date.strftime('%B %e, %Y') %></td>
          <td>
            <a href="/reservation">Accept</a> |
            <form action="/reservation" method="post">

            </form>
            |
            <form action="/reservation/destroy/<%= x.id %>" method="post">
              <button type="submit" name="button">Decline</button>
            </form>
          </td>
        </tr>
      <% end %>
    </table>
    <% end %>
  </div>

  <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
     <p><b><%= x %></b></p>
  <% end %>

<div id="active_tours">
  <h4>Your Active Tours</h4>
  <div id="new_tour">
    <%= simple_form_for @tour, :url => '/tour', :html => {:multipart => true} do |f| %>
       <%= f.input :provider_id, :as => :hidden, :input_html => { :value => session[:provider] } %>
       <%= f.input :name, label: 'Name: ' %>
       <%= f.input :description, label: 'Description: ' %>
       <%= f.select :category, [['Food and drink','food_and_drink'],['Neighborhood Tours','neighborhood_tours'],['Water Sports','water_sports'],['Landmarks','landmarks']] %>
       <%= f.file_field :tour_pic %><br>
       <%= f.submit :submit, label_html: { class: 'btn btn-success' } %>
    <% end %>
  </div>

  <div id="offered_tours">
    <% if @tours %>
    <table class="table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Times purchased</th>
        </tr>
      <% @tours.each do |x| %>
        <tr>
          <td><%= image_tag x.tour_pic.url (:small) %></td>
          <td><%= x.name %></td>
          <td><%= x.description %></td>
          <td><%= x.category %></td>
          <td>(add tours given)</td>
          <td><a href="/tour/destroy/<%= x.id %>">Remove Tour</a>
        </tr>
      <% end %>
    <% end %>
    </table>
  </div>
</div>

  <div id="past_tours">Past Tours</div>
</div>
</div>
